@page {
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
}

.card {
    position: relative;
    overflow: hidden;
    width: 91mm;
    height: 55mm;
    padding: 12mm 10mm;
    background-color: #fff;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: border-box;
    line-height: 1.2;
}

.name {
    font-size: 18pt;
    font-weight: bold;
    margin-bottom: 1mm;
    color: #2d3436;
}

.title {
    font-size: 8pt;
    color: #d63031;
    font-weight: bold;
    margin-bottom: 6mm;
}

.info {
    font-size: 8pt;
    line-height: 1.8;
    color: #636e72;
}